@use "sass:list";
@use "../abstracts/" as *;

// 버튼 사이즈 정의
$buttonSizes: (
  sm: (
    height: 32,
    paddingInline: 12,
    borderWidth: 1,
    fontSize: 13,
    fontWeight: 500,
  ),
  base: (
    height: 40,
    paddingInline: 16,
    borderWidth: 1,
    fontSize: 14,
    fontWeight: 500,
  ),
  lg: (
    height: 48,
    paddingInline: 24,
    borderWidth: 1,
    fontSize: 16,
    fontWeight: 700,
  ),
);

// 버튼 색상 정의

$buttonColors: (
  primary: (
    bgColor: #000,
    borderColor: #000,
    color: #fff,

    hoverBgColor: #333,
    hoverBorderColor: #333,
    hoverColor: #fff,

    activeBgColor: #111,
    activeBorderColor: #111,
    activeColor: #fff,

    disabledBgColor: #dde5f0,
    disabledBorderColor: #dde5f0,
    disabledColor: #94a4ba,
  ),
  secondary: (
    bgColor: #fff,
    borderColor: #000,
    color: #000,
  ),
);

// 버튼 아이콘 정의 ico1
$buttonIcons: (
  1: (
    direction: b,
    imgName: "ico_download.svg",
    width: 20,
    height: 20,
  ),
  2: (
    direction: a,
    imgName: "ico_arrow.svg",
    width: 16,
    height: 16,
  ),
);

$buttonIcon: (
  1: (
    "className": ".ico1",
    "direction": after,
    "imgName": "ico_book.svg",
    "width": 16,
    "height": 16,
  ),
);

//사이즈
@layer Components.Button {
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    box-sizing: border-box;
    &.fullsize {
      width: 100%;
    }

    // 사이즈
    @each $name, $data in $buttonSizes {
      @include buttonSize($buttonSizes, $name);
    }

    // 색상
    @each $name, $data in $buttonColors {
      @include buttonColor($buttonColors, $name);
    }

    // 아이콘
    @each $number, $data in $buttonIcons {
      @include buttonIcon($buttonIcons, $number);
    }
  }
}
