@use "../function" as *;
@use "sass:map";

// 크기
@mixin badgeSize($sizes, $name) {
  $data: map.get($sizes, $name);

  @if $data == null {
    @error "뱃지 사이즈 '#{$name}'이 맵에 없습니다.";
  }

  &.#{$name} {
    height: rem(map.get($data, height));
    padding-inline: rem(map.get($data, paddingInline));
    font-size: rem(map.get($data, fontSize));
    font-weight: map.get($data, fontWeight);

    $borderWidth: map.get($data, borderWidth);

    @if $borderWidth != null {
      border-width: rem($borderWidth);
      border-style: solid;
    } @else {
      border: none;
    }
  }
}

// 색상
@mixin badgeColor($colors, $name) {
  $data: map.get($colors, $name);

  @if $data == null {
    @error "뱃지 색상 '#{$name}'이 맵에 없습니다.";
  }

  &.#{$name} {
    background-color: map.get($data, bgColor);
    border-color: map.get($data, borderColor);
    color: map.get($data, color);
  }
}
